button{
    background-color:blue;
    color: white;
    text-align: center;
    padding: 10px 60px;
    font-size: 20px;
  
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}